/.idea/misc.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/web-dataviewer.iml
/.idea/modules.xml
/.idea/**
venv/

*.pyc
__pycache__/

instance/
*credentials.json

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/



.json!/web_dataviewer.egg-info/
/web_dataviewer.egg-info/
