<!DOCTYPE HTML PUBLIC>

<html lang="en" class="no-js">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="My personal portfolio with some fun things I've done and will continue doing."/>
	<meta property="og:image"
	      content="{{ url_for('static', filename="homepage/images/thumbnail.jpg")  }}"/>
	<title>
		Flynn's Projects
	</title>
	<link href="https://fonts.googleapis.com/css?family=Heebo:400,700|Oxygen:700" rel="stylesheet">
	<link rel="icon" href=" {{ url_for('static', filename="homepage/images/logo_dev.jpg")  }}"/>
	<link rel="stylesheet" href=" {{ url_for('static', filename="homepage/css/homestyle.css") }}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
	<script src="https://unpkg.com/scrollreveal@4.0.5/dist/scrollreveal.min.js"></script>
	<script src="https://kit.fontawesome.com/e0a01fad4b.js" crossorigin="anonymous"></script>
</head>

<body class="has-animations">
<div class="boxed-container has-animations">
	<header class="site-header has-animations has-bottom-divider">
		<div id="top">
			<ul class="wrapper">
				<li class="icon email">
					<span class="tooltip">Email</span>
					<span><i class="fa-solid fa-envelope fa-icon"></i></span>
				</li>
				<li class="icon mobile">
					<span class="tooltip">Mobile</span>
					<span><i class="fa-solid fa-mobile"></i></span>
				</li>
				<li class="icon github">
					<span class="tooltip">Github</span>
					<span><i class="fab fa-github"></i></span>
				</li>
				<li class="icon linkedin">
					<span class="tooltip">Linkedin</span>
					<span><i class="fab fa-linkedin"></i></span>
				</li>
				<li class="icon twitter">
					<span class="tooltip">Twitter</span>
					<span><i class="fab fa-twitter"></i></span>
				</li>
			</ul>
		</div>
	</header>
	<main>
		<section class="hero text-center">
			<div class="hero-particles-container">
				<canvas id="hero-particles"></canvas>
			</div>
			<div class="container-sm">
				<div class="hero-inner">
					<div class="hero-copy">
						<h1 class="hero-title" style="margin-top: 0;">
							My Projects
						</h1>
					</div>
					<div class="container gray highlightTextIn hero-paragraph">
						<a href="#"> HOME </a>
						<a href="#"> PROJECTS </a>
						<a href="#resumelink"> RESUME </a>
					</div>
					<hr />
					<div class="mockup-container" id="interactive">
						<iframe id="graph"
						        width="900"
						        height="800"
						        src="{{ url_for('static', filename="homepage/images/surface2.html") }}" >
						</iframe>
					</div>
				</div>
			</div>
		</section>

		<section>
			<div>
				<div style="justify-content: center; display: grid; align-content: center;">
					<h2 style="margin-left: 80px;">Python Analysis Project<hr /></h2>
					<ul class="wrapper badge" style="overflow: visible;">
						<li class="badge">
							<img alt="py" src="https://img.shields.io/badge/python-3670A0?style=?style=plastic&logo=python&logoColor=ffdd54">
						</li>
						<li class="badge">
							<img alt="C" src="https://img.shields.io/badge/c++-%2300599C.svg?style=plastic&logo=c%2B%2B&logoColor=white">
						</li>
						<li class="badge">
							<a href="https://github.com/NeuroPyPy/CalciumAnalysis/blob/master/LICENSE"><img alt="GitHub license" src="https://img.shields.io/github/license/NeuroPyPy/CalciumAnalysis?style=plastic"></a>
						</li>
						<li class="badge">
							<img alt="GitHub commit activity" src="https://img.shields.io/github/commit-activity/y/NeuroPyPy/CalciumAnalysis?label=commits&style=plastic">
						</li>
						<li class="badge">
							<img alt="CodeFactor Grade" src="https://img.shields.io/codefactor/grade/github/NeuroPyPy/CalciumAnalysis">
						</li>
						<li class="badge">
							<img alt="GitHub last commit" src="https://img.shields.io/github/last-commit/NeuroPyPy/CalciumAnalysis?style=plastic">
						</li>
					</ul>
				</div>
			</div>
			<div class="container">
			</div>
		</section>
		<section class="features-extended section">
			<div class="container">
				{% if url %}
					{% for site in url %}
						<figure>
							<img src="{{ site }}" alt="Something went wrong">
						</figure>
					{% endfor %}
				{% endif %}
			</div>
		</section>
		<section>
			<div style="justify-content: center; display: grid; align-content: center;">
				<h2 class="divider line glow">
					My resume.
					<hr style="margin-bottom: 0;"/>
				</h2>
			</div>
			<div class="hr"></div>

			<a id="resumelink"></a>
			<div class="container">
				<div class = "btn-group btn-group-toggle btn-sm btn-dark" style="display: flex;">
					<label class="btn btn-secondary active btn-sm">
						<input type="radio" name="resume-button-name" id="button-dev" checked>
						Software Dev
					</label>
					<label class="btn btn-secondary active btn-sm">
						<input type="radio" name="resume-button-name" id="button-data">
						Data Science
					</label>
				</div>
			</div>
			<div id="myresume" style="width: 100%;">
				<img id="resume" src="/static/homepage/images/Resume_Software.png" alt="Resume-Software" >
				<img id="resume2" class="hide-this" src="/static/homepage/images/Resume_Data.png" alt="Resume-Data" >
			</div>
		</section>
	</main>
	<footer>
		<div class="footer-particles-container">
			<canvas id="footer-particles"></canvas>
		</div>
		<div class="under-footer">
			<div>
				<img alt="Logo" src="{{ url_for('static', filename="homepage/images/full_logo_2.png") }}"
				     style="height: auto;">
			</div>
			<div>
				&copy; MIT License
			</div>
		</div>
	</footer>
</div>
<script src="{{ url_for('static', filename="homepage/js/custom.js") }}"></script>
<script src="{{ url_for('static', filename="homepage/js/main.min.js") }}"></script>

</body>

</html>
