<!doctype html>
<head>
    <title>Graph Viewer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <script src= "{{ url_for('static', filename="bootstrap.min.js") }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='homestyle.css') }}">
</head>

<body>
{% include 'view/navigation-side.html' %}
    <div id="UnderNavContainer">
            {% if url %}
                {% for site in url %}
                    <div>
                        <figure>
                            <img src="{{ site }}" alt="Something went wrong" id="graph">
                            <figcaption> Caption </figcaption>
                        </figure>
                    </div>
                {% endfor %}
            {% endif %}
        </div>

</body>